<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <!--
    <connectionStrings>
        <add name="DAL_BL.Properties.Settings.DerbyMatchingConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=DerbyMatching;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    -->
</configuration>