<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DerbyMatchingConnectionString" connectionString="Data Source=WGITPI5-TDIAZ;Initial Catalog=DerbyMatching;User ID=sa;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="CockDerbyMatchingSystem.Properties.Settings.DerbyMatchingConnectionString"
      connectionString="Data Source=WGITPI5-TDIAZ;Initial Catalog=DerbyMatching;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!--
  <Reports>
    <DerbyFightSchedule location="C:\Projects\Sagupaan\Cock Derby Matching System\Cock Derby Matching System\Reports\DerbyFightSchedule.rdlc"></DerbyFightSchedule>
    <FightMatchesPerEntry location="C:\Projects\Sagupaan\Cock Derby Matching System\Cock Derby Matching System\Reports\FightMatchesPerEntry.rdlc"></FightMatchesPerEntry>
  </Reports>
  -->
</configuration>